{% extends "layout.twig" %}
{% block content %}
    <h1>Add Project</h1>
    <div class="alert alert-primary" role="alert">
    {{ responseMessage }}
    </div>
    <form action="/projects/add" method="post" >
        <label for="">Title:</label>
        <input type="text" name="title" ><br>
        <label for="">Description:</label>
        <input type="text" name="description"><br>
        <label for="">Meses:</label>
        <input type="numeric" name="months"><br>
        <button type="submit">Save</button>
    </form>
{% endblock %}