{% extends "layout.twig" %}
{% block content %}
    <h1>Cambiar password</h1>
    <div class="alert alert-primary" role="alert">
    {{ responseMessage }}
    </div>
    <form action="/admin/password" method="post" >
        <label for="password">Nueva contraseña:</label>
        <input type="text" name="password" ><br>
        <button type="submit">Save</button>
    </form>
{% endblock %}